body {
    font-family: sans-serif;
    background-color: green;
    margin-top: 75px;
}

.center {
    text-align: Right;
}

.text-big {
    font-size: 500%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 0px;
}

